﻿@model Application.Models.Class

@Html.HiddenFor(a=>a.Id)
@Html.DisplayNameFor(a=>a.ClassName) <br/>
@Html.TextBoxFor(a => a.ClassName)  @Html.ValidationMessage("ClassName")<br/>
@Html.DisplayNameFor(a=>a.Location) <br/>
@Html.TextBoxFor(a=>a.Location)  @Html.ValidationMessage("Location")<br/>
@Html.DisplayNameFor(a=>a.TeacherName) <br/>
@Html.TextBoxFor(a => a.TeacherName)  @Html.ValidationMessage("TeacherName")<br/><br/>

    

