﻿<link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
<script src="~/Assets/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Assets/Scripts/bootstrap.min.js"></script>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="container">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-success">@TempData["Message"]</div>
    }
    @RenderBody()
</div>
</body>
</html>
