﻿@model Application.Models.Student

@Html.HiddenFor(a=>a.Id)
@Html.HiddenFor(a=>a.ClassId)
@Html.DisplayNameFor(a=>a.StudentName) <br/>
@Html.TextBoxFor(a => a.StudentName)  @Html.ValidationMessage("StudentName")<br/>
@Html.DisplayNameFor(a=>a.Age) <br/>
@Html.TextBoxFor(a=>a.Age)  @Html.ValidationMessage("Age")<br/>
@Html.DisplayNameFor(a=>a.GPA) <br/>
@Html.TextBoxFor(a => a.GPA)  @Html.ValidationMessage("GPA")<br/><br/>

    

