﻿@model Application.Models.Class

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h3>Add new class</h3>

<form action="@Url.Action("Add","Class")" method="POST">
    @Html.Partial("~/Views/Shared/_classDetails.cshtml", Model)

    <input type="submit" class="btn btn-primary" value="Add new class"/>
</form>
