﻿@model Application.Models.Class
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h3>Edit class</h3>

<form action="@Url.Action("Edit","Class")" method="POST">
    @Html.Partial("~/Views/Shared/_classDetails.cshtml", Model)

    <input type="submit" class="btn btn-primary" value="Edit student"/>
</form>
