﻿@model IEnumerable<Application.Models.Class>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<table class="table table-hover" id="ClassTable">
    <thead>
    <tr>
        <th scope="col">Class Name</th>
        <th scope="col">Location</th>
        <th scope="col">Teacher Name</th>
        <th scope="col">Actions</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <input id="Id" type="hidden" value="@item.Id"/>
                @item.ClassName
            </td>
            <td>@item.Location</td>
            <td>@item.TeacherName</td>
            <td><a href="@Url.Action("Edit", "Class", new {id = @item.Id})">Edit</a></td>
            <td><a href="@Url.Action("Delete", "Class", new {id = @item.Id})">Delete</a></td>
        </tr>
    }
    </tbody>
</table>
<a href="@Url.Action("Add", "Class")" class="btn btn-primary">Add new class</a>

<br/><br/><br/><br/>

<table class="table table-hover" id="StudentTable">
    <thead>
    <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Age</th>
        <th scope="col">GPA</th>
        <th scope="col">Actions</th>
        <th></th>
    </tr>
    </thead>
    <tbody class="StudentClass">
    </tbody>
</table>

<a id="AddStudent" class="btn btn-primary" href="@Url.Action("Add", "Student")">Add new student</a>

<script>
    
    $("th").on('click', function () {
        return false;
    });
    $("#ClassTable").on('click', 'tr', function () {
        var id = $(this).find("input[type=hidden]").val();
        //console.log(id);

        $("#AddStudent").attr("href", '/Student/Add?classId=' + id);


        $(this).toggleClass('active').siblings().removeClass('active');
        $(".StudentClass tr").remove();
        $.ajax({
            url: '@Url.Action("GetStudentByClassId","Student")',
            method: 'GET',
            data: { classId : id },
            success: function(result) {
                var jsondata = $.parseJSON(result);
                for (var i = 0; i < jsondata.length; i++) {
                    var editlink = '@Url.Action("Edit", "Student", new { id = "ID" })';
                    editlink = editlink.replace("ID", jsondata[i].Id);

                    var deletelink = '@Url.Action("Delete", "Student", new { id = "ID" })';
                    deletelink = deletelink.replace("ID", jsondata[i].Id);

                    var highlight = ((Number(jsondata[i].GPA)) >= 3.2)?"'text-success'" : "'text-dark'";
                    var star = ((Number(jsondata[i].GPA)) >= 3.2) ? " <img src='/Assets/Images/star_yellow.png'/>" : "";
                    var tr = $('<tr/>');
                    $(tr).append("<td class=" + highlight + ">" + jsondata[i].StudentName + star + "</td>");
                    $(tr).append("<td class=" + highlight + ">" + jsondata[i].Age + "</td>");
                    $(tr).append("<td class=" + highlight + ">" + jsondata[i].GPA + "</td>");
                    $(tr).append("<td><a href=" + editlink + ">Edit</a> </td>");
                    $(tr).append("<td><a href=" + deletelink + ">Delete</a> </td>");
                    $('.StudentClass').append(tr);
                }
            }
        })});
</script>