﻿@model Application.Models.Student

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h3>Edit student</h3>

<form action="@Url.Action("Edit","Student")" method="POST">
    @Html.Partial("~/Views/Shared/_studentDetails.cshtml", Model)

    <input type="submit" class="btn btn-primary" value="Edit student"/>
</form>
